.ipynb_checkpoints/Untitled-checkpoint.ipynb
sentiment-analysis-in-russian/.ipynb_checkpoints/Russian News Sentiment Analysis-checkpoint.ipynb
sentiment-analysis-in-russian/.ipynb_checkpoints/Untitled-checkpoint.ipynb
polyglot/
sentimental/__pycache__/sentimental.cpython-37.pyc
sentimental/__pycache__/__init__.cpython-37.pyc
Untitled.ipynb
